<h2>Celebrity List</h2>
<hr>
{{#each celebritiesFromDB}}
  <div>
    <h4>Name:{{name}}</h4>
    <br>
      Occupation:{{occupation}}
      <br>
      Catch Phrase:{{catchPhrase}}
    <hr>
    <br>

    
  </div>
  
{{/each}}